- var pageTitle = 'new project'
- var navigation = ['HOME', 'AboutUs', 'Prising', 'ContactUs'];
doctype html
html(lang="ru")
    head
        meta( name='viewport', content='width=device-width, initial-scale=1' )
        title= pageTitle
        link(rel="stylesheet", href="styles/all.css")
    body
        .wrapper
            .header
                .container
                    .header__wrap 
                        .header__WAPIK wapik
                        .header__phone
                            img(src="images/phone.png", alt="") 
                            |+62 202 555 0117
                        .header__nav
                            ul.menu
                            each value, index in {'home' :'home', 'About': 'AboutUs', 'Prising' : "Prising", 'Contact' : "ContactUs"}
                                li.header__list
                                    a(href="" + value + ".html")=index
                        .header__button
                            button Get Started
            .content
                section.masthead_about
                    .container
                        .masthead__inner
                            .headline
                                .Rectangle
                                    .title__about 
                                        |Cras justo odio, dapibus ac facilisis inegestas eget quam
                                    .button__masthead    
                                        button.section__button-about 
                                            p.button__text
                                                |Start Your Free Trial
                section.columm
                    .container
                        .column__inner
                            .column__heading 
                                p.tittle
                                    |About Us
                                p.tittle__des-about
                                    |Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
                                    |Donec id elit non mi porta gravida at eget metus. 
                                    |Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
                                    |Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. 
                                    |Donec ullamcorper nulla non metus auctor fringilla.      
                            .column__img
                                    img.column1(src="images/Vector.png", alt="")
                                    img.column1(src="images/Vector2.png", alt="")
                                    img.column1(src="images/Vector3.png", alt="")
                            .column__wrap12    
                                .column__one   
                                    h1.column__title Ionicons
                                    p.column 
                                        |Vivamus sagittis lacus vel augue laoreet rutrum 
                                        |faucibus dolor auctor. Aenean eu leo quam. 
                                        |Pellentesque ornare sem.
                                .column__two
                                    h1.column__title Creative Design
                                    p.column  
                                        |Maecenas faucibus mollis interdum. 
                                        |Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                                .column__threes
                                    h1.column__title Photoshop and Sketch
                                    p.column  
                                        |Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                                        |Maecenas sed diam eget risus varius blandit sit amet non magna.
                section.our-team
                    .container
                        .our-team__inner
                            .our-team__heading
                                h1.our-team__title
                                 |Meet Our Team
                                p.our-team__dest
                                    |Curabitur blandit tempus porttitor. 
                                    |Duis mollis, est non commodo luctus, nisi erat porttitor ligula, 
                                    |eget lacinia odio sem nec elit. 
                                    |Cum sociis natoque penatibus et magnis dis parturient montes, 
                                    |nascetur ridiculus mus. 
                            .our-team__person-wrap
                                .our-team__person__one
                                    img.our-team__person__img(src="images/Layer_32.png", alt="")
                                    h1.our-team__person__title
                                        |Joyce Hudson
                                    p.our-team__person__dest
                                        |Founder and Designer        
                                .our-team__person__one
                                    img.our-team__person__img(src="images/Layer-34.png", alt="")
                                    h1.our-team__person__title
                                        |Angela Campbelln
                                    p.our-team__person__dest
                                        |Project Manager 
                                .our-team__person__one
                                    img.our-team__person__img(src="images/Layer_311.png", alt="")
                                    h1.our-team__person__title
                                        |James Walker
                                    p.our-team__person__dest
                                        |Developer
                section.call__about
                    .container
                        .call__inner
                            .call__heading
                                h1.call__title-about
                                    |Do You Like Wapik? Download it Now
                                p.call-dest-about
                                    |Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                            .call__heading-button    
                                button.call__button
                                    p.call__button-text
                                        |download now! - FREE forever            










        .footer
                .container
                    .footer__wrap
                        .top__footer
                            .info
                                h3.text__top
                                    |wapik
                                p.top-dist-email 
                                    |@: hi@wapik.com
                                ul.text__top-dist
                                    li.footer-list p: +62 202 555 0117
                                    li.footer-list a: 610 Overlook Circle Suite 323
                                    li.footer-list Kalamazoo, MI 49009   
                            .company-menu
                                h3.text__menu
                                    |Company
                                ul.text__menu-dist 
                                    li.top__footer-list Home 
                                    li.top__footer-list About Us 
                                    li.top__footer-list Pricing 
                                    li.top__footer-list Contact Us   
                            .others-menu
                                h3.text__others
                                    |Others
                                ul.text__others-dist
                                    li.top__footer-list Help and Support 
                                    li.top__footer-list Privacy Policy 
                                    li.top__footer-list Terms 
                                    li.top__footer-list Sitemap
                            .newsletter
                                h3.text__newsletter
                                    |Newsletter
                                ul.text__newsletter-dist
                                    | Subscribe to our newsletter and get all the cool news
                                form(action="")
                                    .search
                                        input.newsletter__input(type="search" placeholder="Enter Email") 
                                        input.newsletter__input-sub(type="submit" value "")        

                        .bottom__footer
                            .text__button
                                p.text__button 
                                    |All rights reserved 2015.
                            .input_wrap        
                                .twitter__button
                                    input(type="image" src="images/twitter.png") 
                                .facebook__button
                                    input(type="image" src="images/facebook.png") 
                                .instagram__button
                                    input(type="image" src="images/instagram.png") 
                                .dribbble__button
                                    input(type="image" src="images/dribbble.png") 
                                .github__button
                                    input(type="image" src="images/github.png")  