- var pageTitle = 'new project'
- var navigation = ['HOME', 'AboutUs', 'Prising', 'ContactUs'];
doctype html
html(lang="ru")
    head
        meta( name='viewport', content='width=device-width, initial-scale=1' )
        title= pageTitle
        link(rel="stylesheet", href="styles/all.css")
    body
        .wrapper
            .header
                .container
                    .header__wrap 
                        .header__WAPIK wapik
                        .header__phone
                            img(src="images/phone.png", alt="") 
                            |+62 202 555 0117
                        .header__nav
                            ul.menu
                            each value, index in {'home' :'home', 'About': 'AboutUs', 'Prising' : "Prising", 'Contact' : "ContactUs"}
                                li.header__list
                                    a(href="" + value + ".html")=index
                        .header__button
                            button Get Started
            .content
                section.masthead
                    .container
                        .masthead__inner
                            .headline
                                .Rectangle
                                    .title__wel 
                                        |Welcome to Wapik
                                    .title 
                                        |Wapik is multipurpose template, with modern and smart design. Wapik is perfect templates for you!
                                    .button__masthead    
                                        button.section__button 
                                            p.button__text
                                                |Learn More
                section.columm
                    .container
                        .column__inner
                            .column__heading 
                                p.tittle
                                    |Best of our features
                                p.tittle__des
                                    |Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    |Integer posuere erat a ante venenatis dapibus posuere velit aliquet.      
                            .column__img
                                    img.column1(src="images/Vector.png", alt="")
                                    img.column1(src="images/Vector2.png", alt="")
                                    img.column1(src="images/Vector3.png", alt="")
                            .column__wrap12    
                                .column__one   
                                    h1.column__title Ionicons
                                    p.column 
                                        |Vivamus sagittis lacus vel augue laoreet rutrum 
                                        |faucibus dolor auctor. Aenean eu leo quam. 
                                        |Pellentesque ornare sem.
                                .column__two
                                    h1.column__title Creative Design
                                    p.column  
                                        |Maecenas faucibus mollis interdum. 
                                        |Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                                .column__threes
                                    h1.column__title Photoshop and Sketch
                                    p.column  
                                        |Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                                        |Maecenas sed diam eget risus varius blandit sit amet non magna.
                section.others
                    .container
                        .others__inner
                            .others__inner-wrap    
                                .others__1st
                                    .others__1st-one
                                        .others__1st-one-one
                                            img.others-img(src="images/Vector_1_1.png", alt="")
                                            h1.others-tittle Cross Browser Compatibility
                                        p.others-dest  
                                            |Donec ullamcorper nulla non metus auctor fringilla. 
                                            |Donec id elit non mi porta gravida at eget metus.  
                                        .others__1st-one-one
                                            img.others-img(src="images/Vector_2_2.png", alt="")
                                            h1.others-tittle Pixel Perfect
                                        p.others-dest
                                            |Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    .others__1st-two
                                        .others__1st-one-one
                                            img.others-img(src="images/Vector_2_3.png", alt="")
                                            h1.others-tittle Creative Idea
                                        p.others-dest
                                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                            |Vestibulum id ligula porta felis euismod semper.
                                        .others__1st-one-one
                                            .others__1st-one-one
                                            img.others-img(src="images/Vector_2_4.png", alt="")
                                            h1.others-tittle Free Forever and Ever
                                        p.others-dest
                                            |Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                                            |Donec id elit non mi porta gravida at eget metus.
                section.banner
                    .container
                        .banner__inner
                            .banner__heading
                                h1.banner__title
                                    |Looking for the perfect template to use?
                                h2.banner__title-dist
                                    |Donec id elit non mi porta gravida at eget metus.
                            .banner__heading1        
                                .banner__heading-img
                                        img.hand_img(src="images/hand_0.png", alt="")
                                        img.hand_screen(src="images/DOUBLE.png", alt="")
                                .banner__heading-text
                                        h1.heading__text-tittle 
                                            |Responsive Ready
                                        p.heading-text-dist
                                            |Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
                                            |Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
                                            |Aenean lacinia bibendum nulla sed consectetur. 
                                            |Maecenas sed diam eget risus varius blandit sit amet non magna. 
                                            |Vestibulum id ligula porta felis euismod semper.
                                        .heading-text-one
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.heading-text-one-dest
                                                |Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                                        .heading-text-two        
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.heading-text-one-dest
                                                |Donec id elit non mi porta gravida at eget metus.       
                section.testimonials
                    .container
                        .testimonials__inner
                            .testimonials__quote
                                p.quote__text
                                    |This theme is beautiful, elegant and easy to customize. 
                                    |I’ve been able to build an amazing site in just a minute. 
                                    |Thank you very much for creating this impressive template!
                                p.quote__text-one
                                    |Valeria Boltneva
                                p.quote__text-two     
                                    |Director of Acme.Inc
                                img.quote__column__img(src="images/Layer_31.png", alt="")
                section.world
                    .container
                        .world__inner
                            .world__quote
                                h1.world__text
                                    |Built with High Attention to Details
                                p.world__text-dest
                                    |Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
                                    |Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. 
                                    |Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. 
                                    |Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.       
                section.pricing
                    .container
                        .pricing__inner
                            .pricing__heading
                                h1.heading
                                    |Pricing and Plan
                                p.heading_dist
                                    |Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                                    |Donec id elit non mi porta gravida at eget metus.
                            .pricing__heading-wrap
                                .pricing__plan-basic
                                    h1.plan 
                                        |Basic
                                    p.plan_one
                                        |$199
                                    p.plan_one-m
                                        |/month
                                    p.plan-title
                                        p.plan-title Justo Fringilla
                                        p.plan-title Mollis Sit Nullam
                                        p.plan-title Ultricies Purus Amet
                                        p.plan-title Cras Inceptos
                                    button.pricing-button
                                            |Select Plan     
                                .pricing__plan-plus
                                    h1.plan 
                                        |Plus
                                    p.plan_one
                                        |$199
                                    p.plan_one-m
                                        |/month
                                    p.plan-title
                                        p.plan-title Justo Fringilla
                                        p.plan-title Mollis Sit Nullam
                                        p.plan-title Ultricies Purus Amet
                                        p.plan-title Cras Inceptos
                                    button.pricing-button1
                                            |Select Plan 

                                .pricing__plan-premium
                                    h1.plan 
                                        |premium
                                    p.plan_one
                                        |$699
                                    p.plan_one-m
                                        |/month
                                    p.plan-title
                                        p.plan-title Justo Fringilla
                                        p.plan-title Mollis Sit Nullam
                                        p.plan-title Ultricies Purus Amet
                                        p.plan-title Cras Inceptos
                                    button.pricing-button
                                        |Select Plan 



                            .pricing__add-ons
                                .pricing__add-title
                                    h1.add-ons
                                        |Included with all Plans
                            .pricing-text
                                .pricing__box-one
                                    .pricing__box-item-one
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Maecenas faucibus mollis interdum
                                    .pricing__box-item-one
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Cras justo odio, dapibus ac facilisis
                                    .pricing__box-item-one 
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Fringilla Mattis

                                .pricing__box-two
                                    .pricing__box-item-two
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Vestibulum id ligula porta felis euismod
                                    .pricing__box-item-two
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Duis mollis, est non commodo luctus
                                    .pricing__box-item-two
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Integer posuere
                                
                                .pricing__box-three
                                    .pricing__box-item-three
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Nulla vitae elit libero, a pharetra augue
                                    .pricing__box-item-three
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Curabitur blandit tempus porttitor
                                    .pricing__box-item-three
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Nullam quis risus eget urna mollis
                            .pricing__help
                                img.heading_img-help(src="images/Vector_4_1.png", alt="")
                                h1.help-text
                                    |Need Help?
                                p.help-text-dist
                                    |Contact our Customer Support that is always ready to help you with any possible
                                    |questions, problems or information.
                                p.help-text-mail
                                    |support@wapik.com
                section.call
                    .container
                        .call__inner
                            .call__heading
                                h1.call__title
                                    |Do You Like Wapik? Download it Now
                                p.call-dest
                                    |Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                            .call__heading-button    
                                button.call__button
                                    p.call__button-text
                                        |download now! - FREE forever
            .footer
                .container
                    .footer__wrap
                        .top__footer
                            .info
                                h3.text__top
                                    |wapik
                                p.top-dist-email 
                                    |@: hi@wapik.com
                                ul.text__top-dist
                                    li.footer-list p: +62 202 555 0117
                                    li.footer-list a: 610 Overlook Circle Suite 323
                                    li.footer-list Kalamazoo, MI 49009   
                            .company-menu
                                h3.text__menu
                                    |Company
                                ul.text__menu-dist 
                                    li.top__footer-list Home 
                                    li.top__footer-list About Us 
                                    li.top__footer-list Pricing 
                                    li.top__footer-list Contact Us   
                            .others-menu
                                h3.text__others
                                    |Others
                                ul.text__others-dist
                                    li.top__footer-list Help and Support 
                                    li.top__footer-list Privacy Policy 
                                    li.top__footer-list Terms 
                                    li.top__footer-list Sitemap
                            .newsletter
                                h3.text__newsletter
                                    |Newsletter
                                ul.text__newsletter-dist
                                    | Subscribe to our newsletter and get all the cool news
                                form(action="")
                                    .search
                                        input.newsletter__input(type="search" placeholder="Enter Email") 
                                        input.newsletter__input-sub(type="submit" value "")        

                        .bottom__footer
                            .text__button
                                p.text__button 
                                    |All rights reserved 2015.
                            .input_wrap        
                                .twitter__button
                                    input(type="image" src="images/twitter.png") 
                                .facebook__button
                                    input(type="image" src="images/facebook.png") 
                                .instagram__button
                                    input(type="image" src="images/instagram.png") 
                                .dribbble__button
                                    input(type="image" src="images/dribbble.png") 
                                .github__button
                                    input(type="image" src="images/github.png")                       