//Прижать футер к низу
.footer {
    flex: 1 0 auto;
    height: 10px;
    margin: 0 auto;

}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content{
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
.footer__wrap {
    margin-top: 5%;
}


.bottom__footer {
    display: flex;
    align-items: center;
}

.input_wrap {
   flex-grow: 1;
   
    
}
.text__top {
    color: #0f5f5c;
    text-transform: uppercase;
    font-family: "Myriad Pro";
    font-size: 22px;
}
.top-dist-email {
    color: #0f5f5c;
    font-family: "Myriad Pro";
    font-size: 13px;
}
.text__top-dist, .text__menu-dist, .text__others-dist, .text__newsletter-dist {
    color: #83a7a5; 
    font-family: "Myriad Pro";
    font-size: 13px;
    
}
.text__menu, .text__others, .text__newsletter {
    color: #0f5f5c;
    font-family: "Myriad Pro";
    font-size: 13px;
    font-weight: 900;
    line-height: 1.692;
}


.top__footer {
   display: flex;
    //align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.input_wrap {
    display: flex;
    //justify-content: space-between;

}
.top__footer-list  {
   margin-top: 7%;
   
}
.newsletter__input-sub {
    background: url(images/submit.png);
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: none; /* Убираем рамку */

}
.search {
    background-color: #eef1ec;
    display: flex;
}
.newsletter__input {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 274px; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
    border-radius: 3px;
    background-color: #eef1ec;
    
      
}