.pricing-page {
    background-image: url(/images/prising_banner.png);
    background-repeat: no-repeat;
    
    
}
.heading__prising {
    font-family: "Myriad Pro";
    color: #0f5f5c;
    font-size: 32px;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 3%;
    width: 45%;
    position: relative;
    left: 30%;
    
}
.heading_dist__prising {
    font-family: "Myriad Pro";
    color: #96b4b2;
    font-size: 15px;
    text-align: center;
    width: 40%;
    position: relative;
    left: 30%;
}
.heading_dist__prising__too {
    font-family: "Myriad Pro";
    color: #96b4b2;
    font-size: 15px;
    text-align: center;
    width: 40%;
    position: relative;
    left: 30%;
    margin-top: 2%;
    padding-bottom: 5%;

}