.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
    
}
.menu {
    display: flex;
    
}
.header__WAPIK {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16pt;
}
.header__list {
    list-style-type: none;
    padding: 15px;
    text-transform: uppercase;

}
.header__nav {
    display: flex;
    
    justify-content: space-around;

}
.title {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    margin: 15px;
    width: 70%;
}


