$color: #fff;
* {
    margin: 0;
    padding: 0;
    
}
html, body {
   // background: $color;
    padding: 0;
    margin: 0;
    height: 100%;
    
}
.masthead {
   background-image: url(images/Layer_14.png); 
   background-repeat: no-repeat;
   background-position: top;
   height: 100%;
   max-width: 100%;   
   
}
.title__wel {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36pt;
    margin-top: 15%;
}
.Rectangle {
    width: 100%;
    height: 100%;
}
.section__button {
    background-color: #6fb048;
    color: white;
    width: 20%;
    padding: 2%;
    font-family: "Myriad Pro";
    font-size: 16pt;
    text-transform: uppercase;
    border: none;
    margin-bottom: 20%;
    margin-top: 10%;
}
.button__masthead  :hover {
    background-color: #49732f;
}    
.banner {
    background-image: url(images/back.png);
    background-repeat: no-repeat;
   background-position: top;
   width: 100%;
}

.world {
    background-image: url(images/back1.png);
    background-repeat: no-repeat;
   background-position: top;
}
.call {
    background-image: url(images/Layer_11.png);
    background-repeat: no-repeat;
    background-position: top;
}
.twitter {
    background-image: url(images/twitter.png); 
}

.column__inner {
    width: 100%;
}
.tittle {
    font-family: "Myriad Pro";
    font-size: 32pt;
    color: #0f5f5c;
    text-align: center; 
}
.tittle__des {
    font-family: "Myriad Pro";
    font-size: 15pt;
    color: #b5cac9;
    text-align: center;
    margin-top: 3%; 
    width: 50%;
    margin-left: 25%;
}
.column__img {
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
}



.column__wrap12 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 3%;  
}
.column__title {
    font-family: "Myriad Pro";
    font-size: 14pt;
    color: #477a78;
}
.column {
    font-family: "Myriad Pro";
    font-size: 12pt;
    color: #cad8d7;
    margin-top: 4%;
      
}

.others__inner {
    display: flex;
}
.others__inner-wrap {
    width: 100%;
    display: flex;
}
.others__1st {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 5%;
    width: 80%;
}
.others-tittle {
    font-family: "Myriad Pro";
    font-size: 14pt;
    color: #0f5f5c;
    margin-left: 2%;
}
.others-dest {
    font-family: "Myriad Pro";
    font-size: 12pt;
    color: #83a7a5;
}
.others__1st-one-one {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
}
.banner__title {
    font-family: "Myriad Pro";
    font-size: 25pt;
    color: #0f5f5c;
    text-align: center;
    margin-top: 5%;
}
.banner__title-dist {
    font-family: "Myriad Pro";
    font-size: 12pt;
    color: #83a7a5;
    text-align: center;
    margin-top: 5%;
}
.banner__heading-text {
    display: flex;
}

.hand_screen {
    position: relative;
    bottom: 56%;
    left: 40%;  
    background-size: contain;
}
.banner__heading1 {
    display: flex;
}
.banner__heading-text{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
    margin-top: 10%;;
}
.heading-text-one {
    display: flex;
    margin-top: 2%;
    align-items: center;
}
.heading-text-two {
    display: flex;
    margin-top: 2%;
    align-items: center;
}
.heading__text-tittle  {
    font-family: "Myriad Pro";
    font-size: 25pt;
    color: #0f5f5c;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 2%;
}
.heading-text-dist {
    font-family: "Myriad Pro";
    font-size: 11pt;
    color: #83a7a5;
    text-align: left;
    margin-top: 1%;
    width: 92%;
}
.heading-text-one {
    font-family: "Myriad Pro";
    font-size: 11pt;
    color: #83a7a5;
    text-align: left;
    
}
.heading-text-two {
    font-family: "Myriad Pro";
    font-size: 11pt;
    color: #83a7a5;
    text-align: left;
}
.banner__heading-img {
    background-size: cover;
}
.testimonials__quote {
   // display: flex;
    width: 100%;
    height: auto;

}
.quote__column__img {
    width: 30%;
    position: relative;
    left: 60%;
    bottom: 350px;
    
}
.quote__text {
    width: 31%;
    position: relative;
    bottom: 90px;
    left: 15%;
    color: #83a7a5;
    font-family: "Myriad Pro";
    font-size: 11pt;
}
.quote__text-one {
    width: 31%;
    position: relative;
    bottom: 60px;
    left: 15%;
    color: #6fb048;
    font-family: "Myriad Pro";
    font-size: 11pt;
    font-weight: 500;

}
.quote__text-two {
    width: 31%;
    position: relative;
    bottom: 55px;
    left: 15%;
    color: #83a7a5;
    font-family: "Myriad Pro";
    font-size: 11pt;

}
.world__quote{
    width: 100%;
}
.world__text {
    padding-top: 15%;
    font-family: "Myriad Pro";
    font-size: 21pt;
    color: #0f5f5c;
    width: 50%;
    
}
.world__text-dest  {
    padding-top: 1%;
    padding-bottom: 10%;
    font-size: 10pt;
    color: #83a7a5;
    width: 50%;
    font-size: 14px;
    font-family: "Myriad Pro";
    line-height: 1.714;
}
.world {
    height: 100%;
}
.world__quote {
    height: 100%;
}
.heading {
    font-family: "Myriad Pro";
    color: #0f5f5c;
    font-size: 32px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}
.heading_dist {
    font-family: "Myriad Pro";
    color: #96b4b2;
    font-size: 15px;
    text-align: center;
    width: 40%;
    position: relative;
    left: 30%;
}
.pricing__heading-wrap {
    margin-top: 2%;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
   // flex-wrap: wrap;
    
  
    
    
    
}
.plan {
    font-family: "Myriad Pro";
    color: #6fb048;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 1.333;
    margin-top: 20%;
}
.plan-title {
    font-family: "Myriad Pro";
    color: #83a7a5;
    font-size: 14px;
    padding-top: 5%;
    
    
    
}
.pricing__plan-basic {
    border-width: 1px;
    border-color: rgb(193, 211, 210);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    padding-left: 5%;
    padding-right: 5%;
    
}
.pricing__plan-plus {
    border-width: 1px;
    border-color: rgb(193, 211, 210);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    padding-left: 5%;
    padding-right: 5%;
    
}
.pricing__plan-premium {
    border-width: 1px;
    border-color: rgb(193, 211, 210);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}
.plan_one {
    font-family: "Myriad Pro";
    color: #0f5f5c;
    font-size: 65px;
    margin-top: 12%;
}
.plan_one-m {
    font-family: "Myriad Pro";
    color: #0f5f5c;
    font-size: 14px;
}
.pricing-button {
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 13px;
    background-color: #83a7a5;
    border-radius: 2px;
    height: 42px;
    width: 100%;
    margin-bottom: 5%;
    text-transform: uppercase;
    margin-top: 15%;
    
}
.pricing-button1 {
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 13px;
    background-color: #6fb048;
    border-radius: 2px;
    height: 42px;
    width: 100%;
    margin-bottom: 5%;
    text-transform: uppercase;
    margin-top: 15%;
}

.pricing__add-title {
    color: #0f5f5c;
    font-family: "Myriad Pro";
    font-size: 22px;
    margin-top: 10%;   
    line-height: 0.909;
    text-align: center;
}
.pricing-text{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    width: 100%;
    
}
.pricing__box-item-one {
    display: flex;
    align-items: center;
    
}
.pricing__box-item-two {
    display: flex;
    align-items: center;
}
.pricing__box-item-three {
    display: flex;
    align-items: center;
}  
.pricing__box-one   {
    display: flex;
    flex-direction: column;;
}
.pricing__box-two   {
    display: flex;
    flex-direction: column;;
}
.pricing__box-three   {
    display: flex;
    flex-direction: column;;
}
.box {
    color: #83a7a5;
    font-family: "Myriad Pro";
    font-size: 14px;
    text-align: center;
}
.pricing__help { 
    margin-top: 5%;
    text-align: center; 
}
.help-text {
    color: #6fb048;
    font-family: "Myriad Pro";
    font-size: 32px;
    margin-top: 2%;

}
.help-text-dist {
    color: #83a7a5;
    font-family: "Myriad Pro";
    font-size: 15px;
    margin-top: 2%;
    width: 45%;
    text-align: center;
    position: relative;
    left: 30%;
}
.help-text-mail {
    color: #0f5f5c;
    font-family: "Myriad Pro";
    font-size: 18px;
    margin-top: 2%;
    font-weight: 600;
}
.call__inner {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5.5%;
}
.call__title {
    color: #0f5f5c;
    font-family: "Myriad Pro";
    font-size: 28px;
    padding-bottom: 2%;
}
.call-dest {
    color: #83a7a5;
    font-family: "Myriad Pro";
    font-size: 15px;
}
.call__heading-button  {
    position: relative;
    left: 30%;     
}
.call {
    margin-top: 5%;
}
.call__button  {
    border-radius: 2px;
    background-color: #6fb048;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Myriad Pro";
    font-size: 13px;
    //padding: 5%; 
    
}
.call__button :hover {
    background-color: #49732f;
} 
.call__button-text {
    width: 100%;
    //padding: 3%;
}
.others__1st-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
