.masthead_about {
    background-image: url(images/Layer_29.png); 
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    max-width: 100%;
}
.title__about {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    margin-top: 15%;
    text-align: center;
}
.section__button-about {
    position: relative;
    background-color: #6fb048;
    color: white;
    width: 20%;
    padding: 2%;
    font-family: "Myriad Pro";
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    margin-bottom: 20%;
    margin-top: 10%;
    left: 40%;
}
.tittle__des-about {
    font-family: "Myriad Pro";
    font-size: 15px;
    color: #b5cac9;
    text-align: center;
    margin-top: 3%; 
    width: 70%;
    margin-left: 25%;
    position: relative;
    right: 10%;
}
.our-team {
    background-image: url(images/back.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    max-width: 100%;
}
.our-team__title{
    text-align: center;
    margin-top: 5%;
    font-family: "Myriad Pro";
    font-size: 32px;
    color: #0f5f5c;
}
.our-team__dest {
    text-align: center;
    width: 65%;
    position: relative;
    left: 20%;
    margin-top: 3%;
    font-family: "Myriad Pro";
    font-size: 15px;
    color: #83a7a5;
}
.our-team__person-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 14%;
    margin-top: 10%;
    flex-wrap: wrap;
}
.our-team__person__title {
    font-family: "Myriad Pro";
    font-size: 17px;
    color: #0f5f5c;
}
.our-team__person__dest {
    font-family: "Myriad Pro";
    font-size: 16px;
    color: #83a7a5;
}
.call__about {
    background-image: url(images/Layer_10.png);
}
.call__title-about {
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 28px;
    padding-bottom: 2%;
}
.call-dest-about {
    color: #ffffff;
    font-family: "Myriad Pro";
    font-size: 15px;
}